.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
!dist/index.html

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
# 20200429_追加_deployの度に変更されるので追加
.firebase/hosting.ZGlzdA.cache
